
  <div class="topnav nav navbar-nav" id="myTopnav">
    <a  [routerLinkActive]="['active']" routerLink="/finance" class="active">My Account</a>
    <a [routerLinkActive]="['active']" routerLink="/householdStock" >Household Stock</a>
    <a [routerLinkActive]="['active']">Todo List (coming soon)</a>
    <a [routerLinkActive]="['active']">Share (coming soon)</a>
    <a [routerLinkActive]="['active']">About (coming soon)</a>
    <a class="icon" (click)="myNavbar()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/img/logo.PNG">
</div>


<router-outlet></router-outlet>