.theme-color {
  background-color: darkmagenta;
  color: white;
}

table {
    width: 100%;
  }
  .text-center {
    text-align: center;
  }

  .add-card {
    max-width: 600px;
  }

  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.example-full-width {
  width: 100%;
}