.font-sm{
    font-size:  60%
}

.font-inline{
    display : inline-flex
}
.inputAccount{
    width: auto;
    margin: auto;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  /* .mat-cell-action{
    flex: 0 0 100px !important;
    white-space: unset !important;
  } */



