<div class="container mt-5">
  <h4 class="text-center">
    <b>Manage my expension</b>
  </h4>
  <div class="inputAccount mt-4">
    <form [formGroup]="addForm" (ngSubmit)=" onCreate()">
      <div class="col-sm-12 col-lg-6">
        <mat-radio-group class="example-radio-group" formControlName="flag">
          <mat-radio-button class="example-radio-button mr-3" *ngFor="let flag of flags" [value]="flag">
            {{flag}}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="row mt-2">
        <div class="col-sm-12 col-lg-12">
          <span>
            <label class="badge badge-pill badge-info" *ngIf="addForm.value.flag =='income'">Income</label>
            <label class="badge badge-pill badge-danger" *ngIf="addForm.value.flag =='expense'">Expense</label>
            <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <input matInput placeholder="Description" formControlName="description" >
              <mat-hint *ngIf="addForm.value.description == null || addForm.value.description == '' && addForm.touched">* Field is required!</mat-hint>
            </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Cost</mat-label>
              <input matInput placeholder="Cost" formControlName="cost"  (change)="checkDec(addForm.value.cost)" onkeypress="return((event.keyCode == 46) || event.keyCode >= 48 && event.keyCode <= 57)" placeholder="cost (It must be number)">
              <mat-hint *ngIf="addForm.value.cost == null || addForm.value.cost == '' && addForm.touched">* Field is required!</mat-hint>
            </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 mt-2 ">
                <button  type="submit" mat-raised-button  class="theme-color pull-right" [disabled]= "addForm.invalid"><mat-icon class="mr-1">create</mat-icon>Create</button>
                
              </div>
            </div>
          </span>
        </div>
      </div>
    </form>
    <div class="row mt-2">
        <div class="col-xs-12 col-sm-12 col-md-12">
        <div>
          <span>
              <input type="file" accept=".jpg ,.jpeg ,.png" id="uploadCaptureInputFile" class="upload" (change)="onSelectFile($event)" >
            <mat-progress-bar mode="buffer" *ngIf="showProgressBar"></mat-progress-bar>
        </span>
      </div>
      </div>

    </div>
    <!-- <button mat-raised-button  class="theme-color pull-right" (click)="onUpload()"><mat-icon class="mr-1">create</mat-icon>Upload</button> -->
  </div>

  <hr class="my-4 mt-5">

  <mat-tab-group #tabGroup (selectedIndexChange)="setDataSource($event)">

      <!-- daily tab -->
      <mat-tab label="Daily">
          <div style="overflow:hidden">
              <div class="row mt-3 ml-1 pr-5 pull-right">
                <h3 [ngStyle]="{'color':sumTotal >= 0 ? 'green' : 'red' }">Total {{this.sumTotal | number}} Baht</h3>
              </div>
              <mat-form-field>
                <input matInput (keyup)="onApplyFilterDaily($event.target.value)" placeholder="Filter">
              </mat-form-field>
              <table #table mat-table [dataSource]="dailyDataSource" class="mat-elevation-z8" matSort>
        
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.date| date: 'dd MMM yyyy'}} </td>
                </ng-container>
        
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> description </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
        
                <ng-container matColumnDef="cost">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
                  <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
                </ng-container>
        
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element">
                    <button type="button" mat-icon-button (click)="openDialogEdit(element.id)">
                      <mat-icon>create</mat-icon>
                    </button>
                    <button type="button" mat-icon-button  (click)="openDialogDelete(element.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button *ngIf="!element.downLoadUrl" type="button" mat-icon-button (click)="openDialogUpload(element.id)">
                       <mat-icon>cloud</mat-icon>
                    </button>
                    <button *ngIf="element.downLoadUrl" type="button" mat-icon-button (click)="openDialogPhoto(element.id)">
                      <mat-icon >photo</mat-icon>
                   </button>
                  </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedDailyColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedDailyColumns;"></tr>
        
              </table>
              <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"  showFirstLastButtons></mat-paginator>
            </div>
      </mat-tab>
      <mat-tab label="Monthly">
          <div style="overflow:hidden">
        <!-- monthly tab -->

        <div class="row mt-3 pr-5 pull-right">
          <h3 [ngStyle]="{'color':totalBalance >= 0 ? 'green' : 'red' }">Total {{this.totalBalance | number}} Baht</h3>
        </div>
  
        <mat-form-field>
          <input matInput (keyup)="onApplyFilterMonthly($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table #table mat-table [dataSource]="monthlyDataSource" class="mat-elevation-z8" matSort>
  
  
          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
            <td mat-cell *matCellDef="let element"> {{element.year}} </td>
          </ng-container>
  
          <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef> month </th>
            <td mat-cell *matCellDef="let element"> {{element.month}} </td>
          </ng-container>
  
          <ng-container matColumnDef="income">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Income </th>
            <td mat-cell *matCellDef="let element"> {{element.income}} </td>
          </ng-container>
  
          <ng-container matColumnDef="expense">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Expense </th>
            <td mat-cell *matCellDef="let element"> {{element.expense}} </td>
          </ng-container>
  
          <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
            <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedMontlyColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedMontlyColumns;"></tr>
  
        </table>
        <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 25, 100]"  showFirstLastButtons></mat-paginator>
  
          </div>
      </mat-tab>

    </mat-tab-group>

</div>
